{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ block.super }} - {{project.name | title}}
{% endblock title %}

{% block content %}
    <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'pages:index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'projects:list' %}">Portofolio</a>
          </li>
          <li class="breadcrumb-item active">{{project.name | title}}</li>
        </ol>
      </nav>
    </div>
  </section>
  
    
  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'projects:list' %}" class="btn btn-light mb-4">Back To Portofolio</a>
      <div class="row">
        <div class="col-md-7">
          <!-- Home Main Image -->
          <img src="{{project.image.url}}" alt="" class="img-main img-fluid mb-3">
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">         
            <div class="row mb-5 thumbs">
              {% for thumb in screenshots %}
              <div class="col-md-2">
                <a href="{{thumb.image.url}}" data-lightbox="home-images">
                  <img src="{{thumb.image.url}}" alt="" class="img-fluid">
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card mb-3">
            
            <div class="card-body">
              <h5 class="card-title">{{project.name | title}}</h5>
              <p class="text-primary">{{project.description}}<hp>
              <div>
                <a href="{{project.url}}" class="btn btn-outline-dark"><i class="fas fa-globe-americas"></i> Visit Site</a>
                <button class="btn btn-outline-dark" data-toggle="modal" data-target="#inquiryModal">Get Quote</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contacts:contact' %}" method="POST">
            {% csrf_token %}
            
            <input type="hidden" name="project_id" value="{{project.id}}">
            <input type="hidden" name="project_name" class="form-control" value="{{project.name}}">
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    