{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Portofolio
{% endblock title %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse Our Portofolio</h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'pages:index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Portofolio</li>
            </ol>
        </nav>
    </div>
</section>

<section id="listings" class="py-4">
    <div class="container">
        <div class="row">
            {% for project in projects %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                        <img class="card-img-top" src="{{project.image.url}}" alt="" height="100" width="100">
                        <div class="card-img-overlay">
                            <!-- <h2>
                                <span class="badge badge-secondary text-white">$490,000</span>
                            </h2> -->
                        </div>
                        <div class="card-body">
                            <div class="listing-heading">
                                <h4 class="text-primary">{{project.name | upper }}</h4>
                                <p><i class="text-secondary"></i> {{project.category}}</p>
                            </div>
                            <hr>
                            <a href="{% url 'projects:details' project.slug %}" class="btn btn-primary btn-block">More Info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
     
        </div>

        <!-- <div class="row">
                <div class="col-md-12">
                    <ul class="pagination">
                        {% if projects.has_other_pages %}
                            {% if projects.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{projects.previous_page_number}}" class="page-link">
                                        <i>&laquo;</i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a href="#" class="page-link">
                                        <i>&laquo;</i>
                                    </a>
                                </li> 
                            {% endif %}
                            {% for i in projects.paginator.page_range %}                     
                                {% if i == projects.number %}
                                <li class="page-item active">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if projects.has_next %}
                        <li class="page-item">
                            <a href="?page={{projects.next_page_number}}" class="page-link">
                                <i>&raquo;</i>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">
                                <i>&raquo;</i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div> -->
    </div>
</section>
{% endblock content %}
    
    