{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - About Us
{% endblock title %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">About Us</h1>
                    <p class="lead">Learn more about DigitalCraftware, our vision, mission and core values.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'pages:index' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active"> About</li>
                </ol>
            </nav>
        </div>
    </section>
    
    <section id="about" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- <h2>We Develope and </h2> -->
    
                    <img src="{% static 'img/about.jpg' %}" alt="about">
                    <p class="mt-4">Software company providing IT solutions. We provide web app development and ERP systems
                        satisfied customer requirements
                        through the latest stable and cutting-edge technologies.</p>
                </div>
    
            </div>
        </div>
    </section>
    
    <!-- Work -->
    <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">Ready to get started?</h2>
        <h4>Ready to start a project or really curious about our process? Drop us a note or give us a call +2 01283675510;
            we’re
            happy to answer all your questions.</h4>
        <hr>
        <a href="{% url 'projects:list' %}" class="btn btn-secondary text-white btn-lg">Work With Us</a>
    </section>
    
    
    <section id="team" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="display-4">Vision</h4>
                    <p>Our vision is to become a leading and key role player in the Egyptian technology industry, deliver
                        unique
                        and
                        competitive products.</p>
                </div>
    
                <div class="col-md-6">
                    <h4 class="display-4">Mission</h4>
                    <p>DigitalCraftware builds a unique portfolio for IT solutions competes in quality, innovation, and
                        cost.
                        Because the
                        product we sell is a service we inspire our customers with ideas and bring them into real
                        applications.</p>
                </div>
    
            </div>
    </section>
{% endblock content %}
    