{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Contact Us
{% endblock title %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Contact Us</h1>
                <p class="lead">Got a question! We would love to hear from you.</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'pages:index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Contact us</li>
            </ol>
        </nav>
    </div>
</section>

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-4">
                <div class="card p-4">
                    <div class="card-body">
                        <h4>Get In Touch</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, odio!</p>
                        <h4>Address</h4>
                        <p>550 Main st, Boston MA</p>
                        <h4>Email</h4>
                        <p>test@test.com</p>
                        <h4>Phone</h4>
                        <p>(555) 555-5555</p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-8">
                <div class="card p-4">
                    <div class="card-body">
                        <h4 class="">Send us a message</h3>
                        <hr>
                        <form action="{% url 'pages:contact' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input class="btn btn-outline-primary btn-block " type="submit" value="Submit" />
                                    </div>
                                </div>            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    