.btn-secondary {
  color: #fff !important;
}

img {
  width: 100%;
}

.logo {
  width: 150px;
}

.navbar {
  opacity: 0.9;
  text-transform: uppercase;
}

.social a {
  margin-right: 0.4rem;
}

#showcase {
  background: url("../img/showcase.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 450px;
  color: #fff;
}

#showcase .overlay {
  /* content: ''; */
  position: absolute;
  top: 0;
  left: 0;
  min-height: 450px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#services {
  background: url("../img/building.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#showcase-inner {
  background: url("../img/building.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}
#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}
#showcase-inner.showcase-search {
  min-height: 270px;
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  #showcase p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px;
  }
  #showcase-inner h1 {
    font-size: 40px;
  }
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
