{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon.ico' %}">
    <!-- SEO  -->
    <meta name="description" content="DigitalCraftware provides a wide range of web and IT solutions. We develop websites and web applications from idea to design, development and hosting." />
    <meta name="keywords" content="DigitalCraftware IT solutions websites web application design developement deployment hosting" />
    <meta name="google-site-verification" content="V2XVC3ACAaWRVe1ut7riXffFqc2Sh18OePDoE299QkQ" />

    <title>
    {% block title %}
      DigitalCraftware
    {% endblock title %}
      </title>
    <!-- favicon -->
   {% compress css %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %} ">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Lightbox -->
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    {% endcompress %}
  </head>
  <body>
    <!-- Top Bar -->
    <section id="top-bar" class="p-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <i class="fas fa-phone"></i> (+2) 0128-367-5510
          </div>
          <div class="col-md-4">
            <i class="fas fa-envelope-open"></i> info@digitalcraftware.com
          </div>
          <div class="col-md-4">
            <div class="social text-right">
              <!-- <a href="#">
                <i class="fab fa-twitter"></i>
              </a> -->
              <a href="https://www.facebook.com/DigitalCraftware-613053245819244/">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/digitalcraftware/">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Navbar -->
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'pages:index' %}">
          <img src="{% static 'img/logo.png' %} " class="logo" alt="website logo" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li class="nav-item mr-3 {% if url_name == 'index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'pages:index' %}">Home</a>
            </li>
            <li class="nav-item mr-3 {% if url_name == 'about' %} active {% endif %}">
              <a class="nav-link" href="{% url 'pages:about' %}">About</a>
            </li>
            <li class="nav-item mr-3 {% if url_name == 'list' %} active {% endif %}">
              <a class="nav-link" href="{% url 'projects:list' %}">Portofolio</a>
            </li>
            <li class="nav-item mr-3 {% if url_name == 'contact' %} active {% endif %}">
              <a class="nav-link" href="{% url 'pages:contact' %}">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endwith %}
    {% block content %} {% endblock content %}
    <!-- Footer -->
    <footer id="main-footer" class="py-4 bg-primary text-white text-center">
      Copyright &copy;
      <span class="year"></span> DigitalCraftware
    </footer>
    {% compress js %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}  "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}  "></script>
    <script src="{% static 'js/lightbox.min.js' %}  "></script>
    <script src="{% static 'js/main.js' %}  "></script>
    {% endcompress %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
  
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115928789-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-115928789-2');
    </script>
   
  </body>
</html>
